* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  background-color: blue;
  color: whitesmoke;
  font-size: 1.6rem;
  padding: 12px 22px;
  outline: none;
  box-sizing: border-box;
  border: 1px solid whitesmoke;
  border-radius: 6px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(97, 97, 231);
}
